<!DOCTYPE html>
<html>
    <head>
        <title>LAB1 PROGRAM</title>
<script type="text/javascript" src="https:\\ajax.googleapis.com\ajax\libs\angularjs\1.8.2\angular.min.js">
        	</script>
        	<script>
            	var app=angular.module("myApp",[]);
            	app.controller("myCntrl",function($scope){
                		$scope.firstname="Thanuja"
                		$scope.lastname="N"
           	 });
        	</script>
    </head>
    <body ng-app="myApp">
        <h2>Angular JS Application to display Full Name</h2>
        <div ng-controller="myCntrl">
            Enter First Name: <input type="text" ng-model="firstname" /><br />
            Enter Last Namr: <input type="text" ng-model="lastname" /><br />
            Your Full Name: {{firstname +" "+ lastname}}
        </div>
    </body>
    </html>
