<!DOCTYPE html>
<html>
      <head>
        <title>LAB3 PROGRAM </title>
        <script type="text/javascript" 	src="https:\\ajax.googleapis.com\ajax\libs\angularjs\1.8.2\angular.min.js">
        </script>
        <script>
            var app=angular.module("myApp",[]); 
            app.controller("myCntrl",function($scope){
                $scope.num1=0
                $scope.num2=0
                $scope.result=0
                $scope.operator="add"

                $scope.compute=function()
   {
                    switch($scope.operator)
{
                        case 'add': $scope.result=$scope.num1+$scope.num2
                                    break
                        case 'sub': $scope.result=$scope.num1-$scope.num2
                                    break
                        case 'mul': $scope.result=$scope.num1*$scope.num2
                                    break
                        case 'div': if($scope.num2==0)
                                    alert("Divide by zero error")
                                    else
                                        $scope.result=$scope.num1/$scope.num2
                                    break
                        }
                }
            });
        </script>
    </head>
    <body ng-app="myApp"> 
        <h1>SIMPLE CALCULATOR</h1>
        <div ng-controller="myCntrl">
            Enter First Number: <input type="number" ng-model="num1">
            Select Operator:<select ng-model="operator">
                <option value="add">+</option>
                <option value="sub">-</option>
                <option value="mul">*</option>
                <option value="div">/</option>
            </select>
            Enter Second Number: <input type="number" ng-model="num2"><br/><br />
            <button ng-click="compute()">COMPUTE</button> <br />
            {{num1 +" "+operator+" "+num2 +" = "+result}}
        </div>
    </body>
    </html>
