<!DOCTYPE html>
<html>
    <head>
        <title> LAB4 PROGRAM </title>
   <script type="text/javascript" src="https:\\ajax.googleapis.com\ajax\libs\angularjs\1.8.2\angular.min.js">
        </script>
        <script>
            var app=angular.module("myApp",[]); 
            app.controller("myCntrl",function($scope){
                $scope.num=0
                $scope.result=0
                
                $scope.factorial=function(){
                    if($scope.num==0)
                        $scope.result=1
                    else
                    {
                        $scope.fact=1
                        for(var i=$scope.num; i>=1;i--)
                            $scope.fact=$scope.fact*i
                        $scope.result=$scope.fact
                    }
                }

                $scope.square=function(){
                    $scope.result=$scope.num*$scope.num
                }
            });
        </script>
    </head>
    <body ng-app="myApp"> 
        <h1>FACTORIAL AND SQUARE APPLICATION</h1>
        <div ng-controller="myCntrl">
            Enter the Number: <input type="number" ng-model="num">
            <button ng-click="factorial()">COMPUTE FACTORIAL</button> 
            <button ng-click="square()">COMPUTE SQUARE</button> <br />
            {{result}}
        </div>
    </body>
    </html>
