<!DOCTYPE html>
<html>
    <head>         <title>LAB6 PROGRAM</title>
        <script type="text/javascript" src="https:\\ajax.googleapis.com\ajax\libs\angularjs\1.8.2\angular.min.js">
        </script>
        <script> 
        var app=angular.module("myApp",[]); 
            app.controller("myCntrl",function($scope){
               $scope.tasks=[{"TITLE":"Task-1","COMPLETED":true,"EDITING":false},
                             {"TITLE":"Task-2","COMPLETED":false,"EDITING":false},
                             {"TITLE":"Task-3","COMPLETED":true,"EDITING":false}
                            ]

                $scope.addtask=function(){
                    if($scope.newtask){
                    var t={
                        'TITLE':$scope.newtask,
                        'COMPLETED':false,
                        'EDITING':false
                    }
                    $scope.tasks.push(t)
                }
                else
                    alert("Please enter the task to add")
                }

                $scope.edittask=function(task)
                {
                    task.EDITING=true
                }

                $scope.turnOffEditing=function(task)
                {
                    task.EDITING=false
                }

                $scope.deletetask=function(task)
                {
                    var index=$scope.tasks.indexOf(task)
                    $scope.tasks.splice(index,1)
                }
            });        
        </script>
    </head>
    <body ng-app="myApp"> 
        <h1>TO DO APPLICATION</h1>
        <div ng-controller="myCntrl">
            Enter the Name of the Task:<input type="text" ng-model="newtask">
            <button ng-click="addtask()">ADD TASK</button><br/>
            <ul>
                <li ng-repeat="task in tasks">
                    <input type="checkbox" ng-model="task.COMPLETED">
                    <span ng-show="!task.EDITING">{{task.TITLE}}</span>
                    <input type="text" ng-show="task.EDITING" ng-model="task.TITLE" ng-blur="turnOffEditing(task)">
                    <button ng-click="edittask(task)">EDIT</button>
                    <button ng-click="deletetask(task)">DELETE</button>
                </li>
            </ul>
        </div>
    </body>
    </html>
